front-end/public/favicon.ico
front-end/public/index.html
front-end/public/logo192.png
front-end/public/logo512.png
front-end/public/manifest.json
front-end/public/robots.txt
front-end/src/App.css
front-end/src/App.js
front-end/src/App.test.js
front-end/src/config.json
front-end/src/index.css
front-end/src/index.js
front-end/src/logo.svg
front-end/src/reportWebVitals.js
front-end/src/setupTests.js
front-end/src/connections/axiosClient/index.js
front-end/src/connections/socketIoClient/index.js
node_modules/.yarn-integrity
